body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logo {
    background-image: url(../images/magic_logo.png);
    background-color: #ccc;
    background-size: contain;
    height: 128px;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar {
    position: static;
}

.banner {
    background-color: #ccc; 
    height: 128px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}